.wrapLayer{
  .home{
    position: absolute;
    top: 77px;
    left: 195px;
    width: auto !important;
    height: auto;
    padding: 5px !important;
    overflow-y: auto;
    margin-bottom: 50px;
  }
}