@import "//at.alicdn.com/t/font_1476434136_118957.css";

.fonts,
.info {
    font-size: 12px;
    color: #666;
    font-weight: normal;
}

.container {
    padding-left: 212px;
    padding-top: 34px;
    padding-bottom: 30px;
    margin-right: 10px;
    width: 100%;
}

.sub_til {
    padding: 10px 0;
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 15px;
    margin-top: 20px;
}

.tabs {
    border: 1px solid #f6f6f6;
}

.tabs_content {
    text-align: center;
    padding: 5px 0;
}

.tabs_bg {
    background-color: #f6f6f6;
}

.out_bor {
    border: 1px solid #f6f6f6;
    position: relative;
}

.col_content {
    text-align: center;
    padding: 20px 0;
}

.current {
    border: 1px solid #f23f40;
}

.right_here {
    position: absolute;
    right: 0;
    bottom: 0;
}

.line {
    border: 1px solid #f6f6f6;
}

.next_btn {
    text-align: center;
    margin: 25px auto;
}

.next_btn input {
    border-radius: 3px;
    background-color: #01a9df;
    border: none;
    outline: none;
    font-size: 13px;
    color: #fff;
    padding: 5px 10px;
}

.col_icon {
    font-size: 30px;
    position: absolute;
    bottom: -12px;
    right: -3px;
    color: #f23f40;
}

.icon-size {
    font-size: 30px;
}

.out_line {
    border: 1px solid #f6f6f6;
    padding: 0 20px;
}

.normal {
    font-size: 12px;
    color: #666;
    font-weight: normal;
    display: inline;
}

.star {
    position: relative;
    color: #f23f40;
    padding-right: 2px;
    font-weight: 700;
    top: 2px;
    display: inline;
}

.title_l {
    padding: 15px 0;
}

.subTitle {
    height: 60px;
    width: 735px;
    font-size: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: none;
    border: 1px solid #ddd;
    outline: none;
    resize: none;
}

.tex_box .input_box {
    margin-bottom: 5px;
}

.tex_box input {
    outline: none;
    width: 735px;
}

.show_bar .bar_list {
    text-align: right;
    vertical-align: top;
    min-width: 100px;
}

.show_bar tbody tr td {
    padding: 2px 5px;
    line-height: 24px;
}

.show_bar tbody tr td input,
.show_bar tbody tr td textarea {
    padding: 0px 5px;
}

.props {
    background-color: #f9f9f9;
    border: 1px solid #f6f6f6;
    padding: 5px;
    margin-bottom: 8px;
}

.props .props-table {
    width: 50%;
    float: left;
}

tbody tr td {
    padding: 2px 5px;
    line-height: 24px;
}

textarea,
.combo_input {
    border-radius: 2px;
}

.prop_wrap {
    background-color: #f8f8f8;
    border: 1px solid #eee;
    padding: 5px;
}

.combo_input,
.input_wrap {
    border: 1px solid #ddd;
    width: 240px;
    background-color: #fff;
    margin-bottom: 5px;
}

.combo_input input,
.input_wrap input {
    width: 238px;
    outline: none;
    border: none;
}

.combo_input select,
.input_wrap select {
    width: 230px;
    outline: none;
    border: none;
    background-color: #fff;
}

.block {
    line-height: 26px;
    display: inline-block;
}

.media_wrap .img_wrap {
    float: left;
    margin-bottom: 10px;
}

.media_wrap .img_wrap .img_list {
    display: inline-block;
}

.media_wrap .img_wrap .img_list li {
    border: 1px solid #cdcdcd;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 100px;
    width: 100px;
    margin: 0 10px 0 0;
}

.media_wrap .img_wrap .img_list li .info_img {
    display: inline-block;
    position: absolute;
    background: rgba(33, 33, 33, 0.7);
    color: #fff;
    left: 0;
    top: 0;
    z-index: 7;
    width: 100%;
    text-align: center;
}

.col-md-12 {
    padding-left: 0;
}

.star {
    position: relative;
    color: #f23f40;
    padding-right: 2px;
    font-weight: 700;
    top: 2px;
    display: inline;
}

.subTitle {
    height: 60px;
    width: 735px;
    font-size: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: none;
    border: 1px solid #ddd;
    outline: none;
    resize: none;
}

.tex_box .input_box {
    margin-bottom: 5px;
}

.tex_box input {
    outline: none;
    width: 735px;
}

.show_bar .bar_list {
    text-align: right;
    vertical-align: top;
    min-width: 140px;
}

tbody tr td {
    padding: 2px 5px;
    line-height: 24px;
}

textarea,
.combo_input {
    border-radius: 2px;
}

.prop_wrap {
    background-color: #f8f8f8;
    border: 1px solid #eee;
    padding: 5px;
}

.combo_input,
.input_wrap {
    border: 1px solid #ddd;
    width: 240px;
    background-color: #fff;
    margin-bottom: 5px;
}

.combo_input input,
.input_wrap input {
    width: 238px;
    outline: none;
    border: none;
}

.block {
    line-height: 26px;
    display: inline-block;
}

.iconfont {
    /*color: #d7d7d7;*/
    cursor: pointer;
    font-size: 42px;
    position: relative;
}

.edui-default .edui-editor-bottomContainer td {
    display: none;
}

.content .tabs_cont {
    display: none;
}

.active {
    background-color: #fff;
    border-top: 1px solid #01a9df;
}

.title_l {
    padding: 15px 0;
}

.other_info {
    width: 100%;
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    height: 250px;
    padding: 25px 15px;
}

.other_info .info_title {
    border: 1px solid #ddd;
    height: 200px;
}

.other_info .info_title p {
    text-align: center;
    background-color: #f6f6f6;
    padding: 10px;
    font-size: 14px;
    width: 120px;
    margin: -22px auto;
}

.other_info tbody tr td {
    padding: 10px;
}

.preview {
    z-index: 0;
    text-align: center;
    line-height: 90px;
    font-family: arial;
    background-color: #f6f6f6;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.preview .up {
    color: #d7d7d7;
    cursor: pointer;
    font-size: 42px;
    position: relative;
    top: 5px;
    display: inline;
}

.text_area {
    height: 85px;
    width: 440px;
    font-size: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: none;
    border: 1px solid #ddd;
    outline: none;
    resize: none;
}

.content .consh {
    display: block;
}

.col-lg-4 {
    padding-left: 0px;
}

.right_here {
    position: absolute;
    right: -4px;
    bottom: -17px;
}