.wrapFindPayPwd {
  min-width: 1200px;
  overflow: hidden;
}
.wrapFindPayPwd .step_bar {
  background-color: #d8b669;
  height: 8px;
  border-radius: 4px;
}
.wrapFindPayPwd .step_point {
  background-color: #d8b669 !important;
}
.wrapFindPayPwd .header {
  /* position: fixed;
  top: 0; */
  width: 100%;
  z-index: 9999;
}
.wrapFindPayPwd .header .header_top {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  background-color: #eee;
  color: #959595;
}
.wrapFindPayPwd .header .header_top .text_left {
  float: left;
  margin-left: 10%;
}
.wrapFindPayPwd .header .header_top .text_left img {
  position: relative;
  top: 2px;
  right: 4px;
  width: 14px;
}
.wrapFindPayPwd .header .header_top .text_right {
  float: right;
  margin-right: 10%;
}
.wrapFindPayPwd .header .header_top .text_right span {
  color: #626262;
}
.wrapFindPayPwd .header .header_logo {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #fff;
}
.wrapFindPayPwd .header .header_logo .img {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 20%;
}
.wrapFindPayPwd .header .header_logo .welcome {
  height: 40px;
  line-height: 40px;
  float: left;
  margin-top: 32px;
  margin-bottom: 20px;
  font-size: 17px;
  padding-left: 20px;
  color: #d8b669;
}
.wrapFindPayPwd .content {
  width: 100%;
  /* margin-top: 140px; */
  background-color: #f5f5f5;
  /*padding-top: 45px;*/
  /*padding-bottom: 60px;*/
  padding-top: 10%;
  padding-bottom: 16%;
}
.wrapFindPayPwd .content .pro_bar {
  width: 52%;
  height: 8px;
  background-color: #cac5c5;
  margin: auto;
  border-radius: 4px;
  margin-bottom: 110px;
}
.wrapFindPayPwd .content .pro_bar .col-sm-3 {
  position: relative;
  width: 16%;
  width: 25% \9\0;
}
.wrapFindPayPwd .content .pro_bar .col-sm-3 .step_num {
  width: 25px;
  height: 25px;
  line-height: 25px;
  background-color: #cac5c5;
  border-radius: 50%;
  position: absolute;
  top: -9px;
  right: 0px;
  text-align: center;
  color: #fff;
  font-style: italic;
  font-size: 17px;
}
.wrapFindPayPwd .content .pro_bar .col-sm-3 .step_num .gou {
  width: 20px;
  /* height: 14px; */
  position: absolute;
  top: 6px;
  right: 1px;
}
.wrapFindPayPwd .content .pro_bar .col-sm-3 .step_text {
  position: absolute;
  top: 46px;
  right: -26px;
  font-size: 15px;
  color: #959595;
}
.wrapFindPayPwd .content .form {
  width:42%;
  border: 1px solid #d8b669;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
}
.wrapFindPayPwd .content .form .form-control {
  height: 22px;
  height:45px \9\0;
  line-height:29px \9\0;
  padding:6px 12px 6px 12px \9\0;
  border-radius: 4px;
 /* padding: 8px 21px;*/
  padding: 8px 6px;
  width: 112.5%;
}
.wrapFindPayPwd .content .form .control-label {
  padding-right: 0px;
  padding-right: 15px;
  padding-left: 0;
}
.wrapFindPayPwd .content .form .getCode {
  font-size: 12px;
  width: 84px;
  height: 30px;
  line-height: 30px;
   height: 37px \9\0;
  line-height: 37px \9\0;
  background-color: #d8b669;
  border-radius: 4px;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10%;
  margin-left: 7% \9\0;
}
.wrapFindPayPwd .content .form .btn-default {
  padding: 9px 8px;
  background-color: #d8b669;
  border-color: #d8b669;
  color: #fff;
  width: 80.5%;
  margin-top: 8.1%;
  margin-bottom: 29%;
}
.wrapFindPayPwd .content .form .bigpoint {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  float: right;
  background-color: #d8b669;
  position: relative;
}
.wrapFindPayPwd .content .form .biggou {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 16px;
  right: 11px;
}
.wrapFindPayPwd .content .form .success {
  line-height: 85px;
  font-size: 27px;
}
.wrapFindPayPwd .footer {
  width: 100%;
  height: 38px;
  line-height: 38px;
  background-color: #f6f6f6;
 /*  position: fixed;
  bottom: 0; */
  text-align: center;
  border-top: 2px solid #828282;
}

/*兼容ie11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.wrapFindPayPwd .content .form .form-control  {
		  height:45px;
		  /* height: 22px; */
		  line-height:29px;
		  padding:6px 12px 6px 12px;
	}
	.wrapFindPayPwd .content .form .getCode {
		   height: 37px;
		  line-height: 37px;
		  margin-left: 7%;
}
.wrapFindPayPwd .content .pro_bar .col-sm-3 {
  width: 25%;
}

}
