.textbox-label {
  width: 130px;
  margin-right: 80px;
}
.wrapIndex {
  height: 60px;
  background: #2a343e;
  padding: 10px;
  overflow: initial !important;
}
.wrapIndex .content .left_div {
  width: 20%;
  float: left;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}
.wrapIndex .content .right_div {
  width: 76%;
  float: left;
  padding-right: 27px;
  color: #fff;
  font-size: 14px;
}
.wrapIndex .content .right_div ul {
  float: right;
  list-style: none;
}
.wrapIndex .content .right_div ul .li {
  float: left;
  margin-right: 50px;
  position: relative;
  cursor: pointer;
}
.wrapIndex .content .right_div ul .li .dropdown {
  position: absolute;
  top: 1px;
  left: -16px;
  background-color: #2a343e;
  color: #bcc0c3;
  z-index: 9999;
  display: none;
}
.wrapIndex .content .right_div ul .li .dropdown ul {
  position: absolute;
  top: 23px;
  left: 0px;
  background-color: #2a343e;
  color: #fff;
  border: 1px solid #bcc0c3;
  margin: 0px;
  padding: 0px;
}
.wrapIndex .content .right_div ul .li .dropdown ul .operate {
  text-align: center;
  width: 115px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.wrapIndex .content .right_div ul li:last-child {
  margin-right: 0px;
}
.wrapIndex .panel-title {
  height: 30px !important;
  line-height: 30px !important;
}
.layout-panel-north {
  overflow: initial !important;
}
.wrapSearch {
  padding-top: 38px;
  padding-left: 50px;
  padding-bottom: 20px;
}
.wrapSearch .wrapTime {
  float: left;
}
.wrapSearch .wrapDate {
  float: left;
  margin-right: 50px;
  max-width: 600px;
}
.wrapTipsInfo .wrap_top {
  padding-top: 50px;
}
.wrapTipsInfo .wrap_top .warn {
  width: 30%;
  float: left;
  text-align: right;
  font-size: 39px;
  color: #d85537;
}
.wrapTipsInfo .wrap_top .confirm {
  padding-left: 50px;
  float: left;
  margin-top: 8px;
  font-size: 18px;
}
.wrapTipsInfo .wrap_top .wrap_text {
  width: 45%;
  float: left;
  text-align: center;
  font-size: 20px;
}
.wrapTipsInfo .back {
  background-color: #169bd5;
  width: 100px;
  text-align: center;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  border-radius: 4px;
  cursor: pointer;
}
.wrapCustomList .operate {
  color: #167fad;
  cursor: pointer;
}
.wrapEmployerList .operate {
  color: #167fad;
  cursor: pointer;
}
.wrapEmployerEdit .update_btn {
  width: 50px;
  background-color: #169bd5;
  float: right;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.content .list ul {
  list-style: none;
}
.content .list ul .item {
  float: left;
  width: 33%;
  text-align: center;
  border: 1px solid #ccc;
  padding-top: 40px;
  padding-bottom: 30px;
}
.content .list ul .item .circle {
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 110px;
  text-align: center;
  border-radius: 50%;
  margin: auto;
}
.content .list ul .item .circle i {
  font-size: 50px;
}
.content .list ul .item p {
  font-size: 21px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clear {
  clear: both;
}
.fa-left {
  font-size: 18px;
  margin-right: 8px;
}
.fa-qi {
  position: relative;
  top: -4px;
}
.fa-right {
  font-size: 25px;
  margin-left: 5px;
}
.clear {
  clear: both;
}
.floatL {
  float: left;
}
.floatR {
  float: right;
}
.font12 {
  font-size: 12px;
}
.font18 {
  font-size: 18px;
}
.font21 {
  font-size: 21px;
}
.font25 {
  font-size: 25px;
}
.mTop50 {
  margin-top: 50px !important;
}
.mRight8 {
  margin-right: 8px;
}
.mLeft50 {
  margin-left: 50px !important;
}
.mBottom20 {
  margin-bottom: 20px !important;
}
.mLeft5 {
  margin-left: 5px;
}
.pLeft50 {
  padding-left: 50px;
}
.pTop35 {
  padding-top: 35px !important;
}
.color2191cf {
  color: #2191cf;
}
.colorff0000 {
  color: #ff0000;
}
.bgColor6bba3c {
  background-color: #6bba3c;
}
.bgColor2992cd {
  background-color: #2992cd;
}
.bgColorad5195 {
  background-color: #ad5195;
}
.bgColorbf4b31 {
  background-color: #bf4b31;
}
.bgColorddc36c {
  background-color: #ddc36c;
}
.bgColor51cfe0 {
  background-color: #51cfe0;
}
.bgColor98a6b6 {
  background-color: #98a6b6;
}
